* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}
.elements {
  display: flex;
  flex-wrap: wrap;
}
header {
  padding: 5vw;
  font-weight: 500;
  color: white;
}
.header_ele {
  position: relative;
  overflow: hidden;
}
.header_ele::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/back.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}
.container {
  background: #fff;
  max-width: 40vw;
  padding: 1.5rem;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9);
}
.storage {
  background-color: rgba(173, 216, 230, 0.3);
  border-radius: 5%;
}
.sharing {
  background-color: rgba(144, 238, 144, 0.3);
  border-radius: 5%;
}
.aadhar {
  background-color: rgba(255, 255, 224, 0.3);
  border-radius: 5%;
}
.services {
  display: flex;
  flex-direction: column;
  font-size: large;
  align-items: center;
  justify-content: center;
}
form {
  margin: 0 2rem;
}
.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 1.3rem;
  margin-bottom: 0.4rem;
}
input {
  color: inherit;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575;
  padding-left: 1.5rem;
  font-size: 15px;
}
.input-group {
  padding: 1% 0;
  position: relative;
}
.phone {
  display: flex;
}
#sendOTP {
  height: 20px;
  width: 100px;
  font-size: xx-small;
}
.input-group i {
  position: absolute;
  color: black;
}
input:focus {
  background-color: transparent;
  outline: transparent;
  border-bottom: 2px solid hsl(327, 90%, 28%);
}
input::placeholder {
  color: transparent;
}
label {
  color: #757575;
  position: relative;
  left: 1.2em;
  top: -1.3em;
  cursor: auto;
  transition: 0.3s ease all;
}
input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  top: -3em;
  color: hsl(327, 90%, 28%);
  font-size: 15px;
}
.recover {
  text-align: right;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.recover a {
  text-decoration: none;
  color: rgb(125, 125, 235);
}
.recover a:hover {
  color: blue;
  text-decoration: underline;
}
button {
  font-size: 1.1rem;
  padding: 8px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  background: rgb(125, 125, 235);
  color: white;
  cursor: pointer;
  transition: 0.9s;
}
button:hover {
  background: #07001f;
}
.or {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  text-align: center;
}
.icons {
  text-align: center;
}
.icons i {
  color: rgb(125, 125, 235);
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid #dfe9f5;
  margin: 0 15px;
  transition: 1s;
}
.icons i:hover {
  background: #07001f;
  font-size: 1.6rem;
  border: 2px solid rgb(125, 125, 235);
}
.links {
  display: flex;
  justify-content: space-around;
  padding: 0 4rem;
  margin-top: 0.9rem;
  font-weight: bold;
}
#signUpButton,
#signInButton {
  color: rgb(125, 125, 235);
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
}
#signUpButton:hover,
#signInButton:hover {
  color: white;
  background-color: #07001f;
}
.messageDiv {
  background-color: hsl(327, 90%, 28%);
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1rem;
  opacity: 0;
  animation: fadeOut 7s forwards;
}
.nav-link {
  text-align: end;
}
a {
  color: black;
}
a:hover {
  color: blue;
  text-decoration: none;
}
footer {
  background-color: #111;
}
.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i {
  font-size: 2em;
  color: black;
  opacity: 0, 9;
}
.socialIcons a:hover {
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i {
  color: white;
  transition: 0.5s;
}
.footerNav {
  margin: 30px 0;
}
.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover {
  opacity: 1;
}
.footerBottom {
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.footerBottom p {
  color: white;
}
.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px) {
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
  .socialIcons a {
    padding: 8px;
    margin: 4px;
  }
}
